<!DOCTYPE html>
<html>
<head>
    <title>Friend matches</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.css"/>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>

<!--<script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js">-->
<!--</script>-->

<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<script>
    var map = L.map('map').setView([39.46975, -0.37739], 13);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
    }).addTo(map);

    L.Control.Watermark = L.Control.extend({
        onAdd: function (map) {
            var img = L.DomUtil.create('img');

            img.src = 'https://github.com/Enriquebadenas/G4_DP1/blob/main/images/white_logo.png?raw=true';
            img.style.width = '300px';

            return img;
        },

        onRemove: function (map) {
            // Nothing to do here
        }
    });
    L.control.watermark = function (opts) {
        return new L.Control.Watermark(opts);
    }
    L.control.watermark({position: 'topright'}).addTo(map);

    var points_of_interest = {
        "Teatro": [39.47045516337841, -0.37450981743096007],
        "Bolera": [39.466418728388035, -0.40415652394254004],
        "Cine": [39.453494365609735, -0.3705948846378685],
        "Museo": [39.46598858281769, -0.3431144938225893]
    };

    var localiztionLayer = new L.LayerGroup();
    var greenIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    for (var localization in points_of_interest) {
        lat = points_of_interest[localization][0];
        long = points_of_interest[localization][1];
        marker = L.marker([lat, long], {icon: greenIcon}).bindPopup(localization,{permanent: true,direction: 'right',opacity:0.9,});
        localiztionLayer.addLayer(marker);
    }
    localiztionLayer.addTo(map);


    var source = new EventSource('/topic/matches');
    source.addEventListener('message', function (e) {
        console.log('LLEGA EVENTO:')
        obj = JSON.parse(e.data);
        console.log(obj)
        marker_user = L.marker([obj['user_lat'], obj['user_lon']]).addTo(map)
        marker_friend = L.marker([obj['friend_lat'], obj['friend_lon']]).addTo(map)
        latlangs = [marker_user.getLatLng(), marker_friend.getLatLng()]
        var polyline = L.polyline(latlangs, {color: 'red'}).addTo(map);

        function remove_markers(marker_user, marker_friend, polyline) {
            map.removeLayer(marker_user)
            map.removeLayer(marker_friend)
            map.removeLayer(polyline)
            ;
        }

        setTimeout(remove_markers, 3000, marker_user, marker_friend, polyline)
    }, false);
</script>
</body>
</html>

